######################### Swift #################### :

github "DaveWoodCom/XCGLogger" == 2.0


######################### Objective-C #################### :

github "yarec/mojo-database"

######################### For Test #################### :

#github "nschum/SwiftHamcrest"
