######################### Swift #################### :

github "DaveWoodCom/XCGLogger" == 3.0


######################### Objective-C #################### :

github "yarec/mojo-database"

######################### For Test #################### :

github "nschum/SwiftHamcrest" == 0.3
